kind: Deployment
apiVersion: apps/v1
metadata:
  name: reimb-api-deployment-canary
spec:
  replicas: 1
  selector:
    matchLabels:
      app: project1-reimb-api
      role: backend
      env: canary
      version: 1.0.0
  template:
    metadata:
      name: backend
      labels:
        app: project1-reimb-api
        role: backend
        env: canary
    spec:
      containers:
        - name: backend
          image: olvmky/reimb-api
          resources:
            limits:
              memory: "500Mi"
              cpu: "100m"
          imagePullPolicy: Always
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
          command: ["sh", "-c", "app -port=8080"]
          ports:
            - name: backend
              containerPort: 8080
